{{ log. }}
<h3>Your Goal List: </h3>

{{#if goals}}
<ul>
    {{!-- for each goal --}}
    {{#each goals}}
    <a class="a goals" href='/goal/{{_id}}'>{{ title }}</a>
    <p class='p'> Goal Date: {{ dateGoal }} </p>
    {{/each}}

</ul>
{{else}}
<p>You have no goals yet. Go ahead... Add one!</p>
{{/if}}
{{!-- <input type="submit" class="button" value='+ New Goal'> --}}
<button class="button is-dark"><a class="newGoal a" href='/goal/new'>+New Goal</a></button>