{{ log. }}
{{!-- why this line? --}}
{{#if goals}}
<ul>
    {{!-- need to add link to show one goal to the title --}}
    {{#each goals}}
    <a href='/goal/{{_id}}'>{{ title }} {{ this.goal.habits.length }}</a>

    <p> {{ dateGoal }} </p>
    {{/each}}

</ul>
{{/if}}
<a href='/goal/new'>Add a New Goal</a>