<h3 class="goal">{{ title }} <form action="/goal/{{id}}?_method=delete" method=POST>
        <input type="submit" value='x' class="button is-danger is-small">
    </form>
</h3>



<h4 class="desc">{{ description }}</h4>

<p class="ptime"> goal date: {{ dateGoal }} </p>

{{#if habits}}
<ul class="habits">
    {{!-- need to add link to show one goal to the title --}}
    {{#each habits}}

    <p class="fresh"><span><input type="checkbox" name="complete"></span>{{ title }} </p>

    {{/each}}

</ul>
{{else}}
<p>you have no habits yet. add one below!</p>
{{/if}}
<form action="/goal/{{id}}?_method=put" method="POST" class="newHabit">
    <input class="inputField" type="text" name="habit" placeholder="add new habit..."><input type="submit" class="button is-success"
        value='+'>
</form><br>

{{!-- <a class="a" href='/'>back to goals</a> --}}