<h2>{{ title }} </h2>

<h4> {{ description }} </h4>
<p class="p"> Goal Date: {{ dateGoal }} </p>
<form action="/goal/{{id}}?_method=delete" method=POST>
    <input type="submit" value='Delete' class="button">
</form>
{{#if habits}}
<ul>
    {{!-- need to add link to show one goal to the title --}}
    {{#each habits}}

    <p><span><input type="checkbox" name="complete"></span>{{ title }} </p>

    {{/each}}

</ul>
{{else}}
<p>You have no habits yet. Add one below!</p>
{{/if}}
<form action="/goal/{{id}}?_method=put" method="POST">
    <p><input type="text" name="habit" placeholder="Add new habit..."></p><input type="submit" class="button" value='Add it!'>
</form><br><br>
<a class="a" href='/'>Back to Goals List</a>