<h2>{{ title }} </h2>
<form action="/goal/{{id}}?_method=delete" method=POST>
    <input type="submit" value='Delete'>
</form>
<p> Description: {{ description }} </p>
<p> Goal Date: {{ dateGoal }} </p>
{{#if habits}}
<ul>
    {{!-- need to add link to show one goal to the title --}}
    {{#each habits}}

    <p><span><input type="checkbox" name="complete"></span>{{ title }} </p>

    {{/each}}

</ul>
{{/if}}
<form action="/goal/{{id}}?_method=put" method="POST">
    <p><input type="text" name="habit" placeholder="Add new habit..."></p><input type="submit" value='Add it!'>
</form><br><br>
<a class="a" href='/'>Back to Goals List</a>