<h2>{{ title }} </h2>
<p> {{ description }} </p>
<p> {{ dateGoal }} </p>
{{#if habits}}
<ul>
    {{!-- need to add link to show one goal to the title --}}
    {{#each habits}}

    <p><span><input type="checkbox" name="complete"></span>{{ title }} </p>

    {{/each}}

</ul>
{{/if}}
<form action="/goal/{{id}}?_method=put" method="POST">
    <p><input type="text" name="habit"></p><input type="submit" value='Add Habit!'>
</form><br><br>
<a href='/'>Back to Goals List</a>

{{!-- Adding a new Habit to Goal
1. User types in new Habit, clicks "Add Habit!"
2. Habit is created
3. Habit is puhsed to Goal.habits[]
4. Browser redirects to /goal/show
5. Habit shows with checkbox
--}}